/* .App {
  text-align: center;
  background-color: #adb5bd;
  min-height: 100vh;
}
.App h1 {
  height: 40px;
  background-color: #495057;
  text-align: start;
  padding: 20px 100px;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
}
.App-Countries {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px 20px;
  flex-wrap: wrap;
}
.App-Features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
} */
